<div class="material-post_container">
  <div class="material-post mdl-grid">
    <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
      <div class="post_thumbnail-random mdl-card__media mdl-color-text--grey-50 lazy"  data-original="/img/random/material-14.png" style="background-image: url(&quot;/img/random/material-14.png&quot;);">
        <script type="text/ls-javascript" id="post-thumbnail-script">
          var randomNum = Math.floor(Math.random() * 19 + 1);

          $('.post_thumbnail-random').attr('data-original', '/img/random/material-' + randomNum + '.png');
          $('.post_thumbnail-random').addClass('lazy');
        </script>
        <p class="article-headline-p">
          关于
        </p>
      </div>
      <div class="mdl-color-text--grey-700 mdl-card__supporting-text fade">
        <blockquote>
          <p>关于我,你了解什么？</p>
          <p><code>~未完，待续</code></p>
        </blockquote>
      </div>
    </div>
  </div>
</div>

